<p class="title">
    <a href="@Href("~/Admin/")">Site Administration</a>
</p>
<ul>
    <li><a href="@Href("~/Admin/Orders/")">Appointments</a></li>
    <li><a href="@Href("~/Admin/Categories/")">Edit Hospitals</a></li>
    <li><a href="@Href("~/Admin/Products/")">Doctor's Summary</a></li>
    <li><a href="@Href("~/Admin/Users/")">Add or Revoke Admins</a></li>
</ul>

